
.contact-section {
  padding: 4rem 2rem;
}

/* Formulaire de contact */
.contact-form {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  max-width: 700px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.contact-form:hover {
  transform: translateY(-5px); 
}


.contact-form h4 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #0d6efd;  
  font-weight: bold;
}

.contact-form .form-group label {
  font-weight: 600;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0d6efd;
  background-color: #ffffff;  
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 1.2rem;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover {
  background-color: #0069d9;
  transform: scale(1.05);  /* Effet de zoom au survol */
}

/* Section des informations */
.info-section {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  text-align: center;
}

.info-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
  transform: translateY(-5px);  /* Effet de levée au survol */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.info-box i {
  font-size: 2rem;
  color: #0d6efd;
  margin-bottom: 1rem;
}



/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .contact-form {
      padding: 2rem;
  }

  .info-section {
      grid-template-columns: 1fr;  /* Un seul élément par ligne */
      margin-top: 2rem;
  }

  .social-links a {
      font-size: 1.5rem;  /* Réduire la taille des icônes des réseaux sociaux sur mobile */
  }
}


