
#projets {
  background-color: #f8f9fa; 
  padding: 60px 15px;
}

#projets h2 {
  font-size: 2.5rem;
  color: #343a40; 
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;
}

#projets h2::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #ff7f50;
  margin: 10px auto 0;
  border-radius: 2px;
}

.card {
  border: none; 
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  max-height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05); 
}

/* Card Body */
.card-body {
  padding: 20px;
  background-color: #ffffff;
  text-align: left;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #343a40;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.card .btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.card .btn-primary {
  background-color: #ff7f50;
  border: none;
}

.card .btn-primary:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

.card .btn-success {
  background-color: #28a745;
  border: none;
}

.card .btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.hidden {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.filter-btn.active {
  background-color: #ff7f50;
  color: #fff;
  font-weight: bold;
}

.filter-btn {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #ddd;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.filter-btn:hover {
  background-color: #e67e22;
  color: #fff;
}


@media (max-width: 768px) {
  #projets .card {
      margin-bottom: 30px;
  }
}

.card {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .filter-btn {
      margin-bottom: 10px; 
      display: block; 
      width: 100%; 
  }
}

